<section class="main-item-wrapper blue-text text-darken-4">
  <div class="main-item">
    <h2 class="header-text">仮登録メール再送信</h2>
    <div class="login-container container">
    <%= render "shared/alert" %>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
      <div class="input-field">
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          placeholder: 'メールアドレス',
                          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
        %>
      </div>

      <div class="actions">
        <%= f.submit "再送信", class: 'waves-effect waves-light btn-large white-text' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</section>