<section class="main-item-wrapper blue-text text-darken-4">
  <div class="main-item">
    <h2 class="header-text">登録</h2>
    <div class="login-container container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <%= f.email_field :email, class: "validate",  autofocus: true, autocomplete: "email" %>
        <%= f.label "メールアドレス" %><br />
      </div>

      <div class="input-field">
        <i class="material-icons prefix">vpn_key</i>
        <%= f.password_field :password, class: "validate", autocomplete: "new-password" %>
        <%= f.label "パスワード" %><br />
      </div>

      <div class="input-field">
        <i class="prefix"></i>
        <%= f.password_field :password_confirmation, class: "validate", autocomplete: "new-password" %>
        <%= f.label "確認用パスワード" %><br />
      </div>

      <div class="actions">
        <%= f.submit "登録", class: 'waves-effect waves-light btn-large white-text' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
