<section class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="leading">
            <h1 class="header-text">マイページ</h1>
            <p class="grey-text text-accent-4">
                こんにちは。<%= @user.username %>さん
            </p>
        </div>
        <div class="container">
            <% if @books.empty? %>
                <p>ブックがありません。</p>
            <% else %>
                <div class="book-list carousel light-blue darken-4">
                <% @books.each do |book| %>
                    <div class="book carousel-item">
                        <p class="book-name"><%= book.name %></p>
                        <p class="book-desrciption">
                            <%= book.description %>
                        </p>
                        <div class="book-footer">
                            <p><i class="tiny material-icons">account_box</i><%= @user.username %></p>
                            <p><i class="tiny material-icons">collections</i>5</p>
                            <p><i class="tiny material-icons">access_time</i>2018.09.29</p>
                        </div>
                    </div>
                <% end %>
                </div>
            <% end %>
            <div id="js-book-create">
                <transition name="modal">
                    <div class="modal-mask" v-show="isActive">
                        <div class="modal-wrapper">
                            <div class="modal-container">
                                <i class="material-icons small grey-text close-btn" @click="doActive">close</i>
                                <%= form_for([@user,@user.books.build]) do |f| %>
                                    <p><%= f.text_field :name, placeholder: "ブックの名前" %></p>
                                    <p><%= f.text_field :description, placeholder: "ブックの説明文" %></p>
                                    <p><%= f.submit "追加", class: "waves-effect waves-light btn-large" %></p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </transition>
                <p class="btn-floating btn-large waves-effect waves-light" v-on:click="doActive">
                    <i class="material-icons">add</i>
                </p>
            </div>
            <%= javascript_pack_tag 'book_create' %>
        </div>
    </div>
</section>
