<section class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="leading">
            <h1 class="header-text">マイページ</h1>
            <p class="grey-text text-accent-4">
                こんにちは。<%= @user.username %>さん
            </p>
        </div>
        <div class="container">
            <% if @books.empty? %>
                <p>ブックがありません。</p>
            <% else %>
                <div class="book-list">
                <% @books.each do |book| %>
                    <div class="book">
                        <p class="book-name"><%= book.name %></p>
                        <p class="book-desrciption">
                            勉強しはじめて1ヵ月以内に身につけておきたい知識を中心に構成しています。
                        </p>
                        <div class="book-footer">
                            <p><i class="tiny material-icons">account_box</i><%= @user.username %></p>
                            <p><i class="tiny material-icons">collections</i>5</p>
                            <p><i class="tiny material-icons">access_time</i>2018.09.29</p>
                        </div>
                    </div>
                <% end %>
                </div>
            <% end %>
            
            
            <%= form_for([@user,@user.books.build]) do |f| %>
                <p><%= f.text_field :name %></p>
                <p><%= f.submit %></p>
            <% end %>
        </div>
    </div>
</section>
