<section class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="leading">
            <h1 class="header-text">マイページ</h1>
            <p class="grey-text text-accent-4">
                こんにちは。<%= @user.username %>さん
            </p>
        </div>
        <div class="container">
            <p class="btn-floating btn-large waves-effect waves-light" v-on:click="doActive">
                <i class="material-icons">add</i>
            </p>
            <% if @books.empty? %>
                <p>ブックがありません。</p>
            <% else %>
                <div class="book-list">
                <% @books.each do |book| %>
                    <div class="book">
                        <%= link_to user_book_path(@user, book), method: :get do %>
                        <p class="book-name"><%= book.name %></p>
                        <% end %>
                        <p class="book-desrciption">
                            <%= book.description %>
                        </p>
                        <div class="book-footer">
                            <p><i class="tiny material-icons">collections</i>5</p>
                            <p><i class="tiny material-icons">star_border</i><%= book.star %></p>
                            <p><i class="tiny material-icons">access_time</i><%= book.created_at.strftime('%Y.%m.%d') %></p>
                            <p><i class="tiny material-icons">account_box</i><%= book.author %></p>
                        </div>
                    </div>
                <% end %>
                </div>
            <% end %>
            <div id="js-book-create">
                <transition name="modal">
                    <div class="modal-mask" v-show="isActive">
                        <div class="modal-wrapper">
                            <div class="modal-container">
                                <i class="material-icons small grey-text close-btn" @click="doActive">close</i>
                                <h2 class="header-text">ブック登録</h2>
                                <%= form_for([@user,@user.books.build]) do |f| %>
                                    <%= f.hidden_field :author, :value => @user.username %>
                                    <p><%= f.text_field :name, placeholder: "名前" %></p>
                                    <p><%= f.text_area :description, placeholder: "説明文", class: "materialize-textarea" %></p>
                                    <p><%= f.submit "追加", class: "waves-effect waves-light btn-large" %></p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
            <%= javascript_include_tag 'frontend/book_create.js' %>
        </div>
    </div>
</section>
