<section id="app" class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="leading">
            <h1 class="header-text">マイページ</h1>
            <p class="grey-text text-accent-4">
                こんにちは。<%= @user.username %>さん
            </p>
        </div>
        <div class="container">
            <p class="btn-floating btn" v-on:click="doActive">
                <i class="material-icons">add</i>
            </p>
        <% if @books.empty? %>
            <p>ブックがありません。</p>
        <% else %>
            <div class="book-list">
                <ul class="book-row book-row-header row white-text light-blue darken-4 left-align">
                    <li class="col m5 s12">
                        タイトル
                    </li>
                    <li class="col m2 s12">
                        作成者
                    </li>
                    <li class="col m2 s12">
                        作成日
                    </li>
                    <li class="col m2 s12">
                        お気に入り数
                    </li>
                </ul>
                <% @books.each do |book| %>
                <div class="book-row-wrapper light-blue darken-4">
                    <ul class="book-row row white grey-text text-darken-2 left-align">
                        <li class="col m5 s10 book-title">
                            <%= link_to(user_book_path(@user,book), method: :get, class: "grey-text text-darken-2") do %>
                                <%= book.name %>
                            <% end %>
                        </li>
                        <li class="col m2 s10"><i class="tiny material-icons sp-show">account_circle</i>Name</li>
                        <li class="col m2 s10"><i class="tiny material-icons sp-show">access_time</i><%= book.created_at.strftime('%Y.%m.%d') %></li>
                        <li class="col m2 s10"><i class="tiny material-icons amber-text">star</i>125</li>
                        <transition name="slide">
                        <li class="action-btn" v-show="isOpen" style="display: none;">
                            <%= link_to(user_book_path(@user,book),
                                        method: :delete,
                                        data: { confirm: "削除します。よろしいですか？" },
                                        class: "red darken-4 white-text btn") do %>
                                削除
                            <% end %>
                            <%= link_to(edit_user_book_path(@user,book), class: "waves-effect green-text text-darken-2 btn-flat") do %>
                                編集
                            <% end %>
                        </li>
                        </transition>
                    </ul>
                    <div class="setting-btn" @click="doOpen">
                        <i data-target="modal1" class="tiny material-icons grey-text text-darken-2 modal-trigger" >more_vert</i>
                    </div>
                </div>
                <% end %>
            </div>
        <% end %>
            <transition name="modal">
                <div class="modal-mask" v-show="isActive" style="display: none;">
                    <div class="modal-wrapper">
                        <div class="modal-container">
                            <i class="material-icons small grey-text close-btn" @click="doActive">close</i>
                            <h2 class="header-text">ブック登録</h2>
                            <%= form_for([@user,@user.books.build]) do |f| %>
                                <%= f.hidden_field :author, :value => @user.username %>
                                <p><%= f.text_field :name, placeholder: "タイトル" %></p>
                                <p><%= f.text_area :description, placeholder: "説明文", class: "materialize-textarea" %></p>
                                <p><%= f.submit "追加", class: "white-text btn-large" %></p>
                            <% end %>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</section>
<%= javascript_include_tag 'frontend/book_create.js' %>