<section class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="container">
            <div class="book-detail row z-depth-5 light-blue darken-4">
                <div class="col m3 white-text left-contents">
                    <div class="bottom">
                        <div class="bottom-row">
                            <i class="small material-icons">account_circle</i><span><%= @book.author %></span>
                        </div>
                        <div class="bottom-row">
                            <i class="small material-icons">access_time</i><span><%= @book.created_at.strftime('%Y.%m.%d') %></span>
                        </div>
                        <div class="bottom-row">
                            <i class="small material-icons amber-text">star</i><span><%= @book.star %></span>
                        </div>
                    </div>
                </div>
                <div class="col m9 white grey-text text-darken-2 z-depth-1 left-align right-contents">
                    <%= form_for([@user,@book],methods: :patch) do |f| %>
                    <p class="title"><%= f.text_field :name, placeholder: "タイトル", value: @book.name %></p>
                    <p class="description"><%= f.text_area :description, placeholder: "説明文", class: "materialize-textarea", value: @book.description %></p>
                    <div class="actions-btn">
                        <p><%= f.submit "追加", class: "waves-effect waves-light btn" %></p>
                    </div>
                    <% end %>
                </div>
            </div>
            <p><%= link_to '戻る',admin_index_path,class: "waves-effect waves-light btn-flat back-btn" %></p>
        </div>
    </div>
</section>