<section class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="container">
            <div class="book-detail row z-depth-5 teal darken-2">
                <div class="col m8 white-text">
                    <h4 class="book-title"><%= @book.name %></h4>
                    <p><%= @book.description %></p>
                </div>
                <div class="col m4 white grey-text text-darken-1">
                    <p><%= @book.author %></p>
                    <p><%= @book.created_at.strftime('%Y年%m月%d日 %H:%m') %></p>
                    <p><%= @book.star %></p>
                </div>
            </div>
            <%= link_to '削除',user_book_path(@user,@book),method: :delete,class: "waves-effect waves-light btn-large red" %>
            <%= link_to '戻る',admin_index_path,class: "waves-effect waves-light btn-large grey" %>
        </div>
    </div>
</section>