<section class="main-item-wrapper blue-text text-darken-4">
  <div class="main-item">
    <h2 class="header-text">ログイン</h2>
    <div class="login-container container">
    <%= render "shared/alert" %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-field">
        <%= f.email_field :email, class: "validate",  autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>
    
      <div class="input-field">
        <%= f.password_field :password, class: "validate", autocomplete: "current-password", placeholder: "パスワード" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: 'waves-effect waves-light btn-large white-text' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</section>