<section class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="leading">
            <h1 class="header-text">テキスト追加</h1>
        </div>
        <div class="container">
            <ul id="tabs-swipe" class="tabs left-align">
                <li class="tab col s3 z-depth-2 grey lighten-5"><a class="light-blue-text text-darken-4 active" href="#question">問題</a></li>
                <li class="tab col s3 z-depth-2 grey lighten-5"><a class="light-blue-text text-darken-4" href="#choice">解答</a></li>
                <!--<li class="tab col s3 z-depth-2 grey lighten-5"><a class="light-blue-text text-darken-4" href="#answer">正解</a></li>-->
            </ul>
            <%= form_for([@book,@book.texts.build]) do |f| %>
            <div class="z-depth-3">
                <div id="question" class="grey lighten-5">
                    <%= f.text_area :question, placeholder: "問題文", class: "materialize-textarea" %>
                </div>
                <div id="choice" class="grey lighten-5">
                    <%= f.text_area :answer, placeholder: "解答文", class: "materialize-textarea" %>
                </div>
            </div>
            <p><%= f.submit "追加", class: "white-text btn teal darken-2", ":disabled" => "$v.$invalid" %></p>
            <% end %>
            <p><%= link_to '戻る',book_texts_path(@book), method: :get,class: "waves-effect waves-light btn-flat back-btn" %></p>
        </div>
    </div>
</section>