<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/icon?family=Material+Icons', :media => "all" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => "reload" %>
  <%= javascript_include_tag    'application', 'https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => "reload" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
  <script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.carousel').carousel({
      indicators: true,
      numVisible: 3
    });
  });
  </script>
</head>
<body id="fullpage">
<%= render "shared/nav" %>
<%= yield %>

</body>
</html>
